<nav class="" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="admin">Admin module</a></li>
      <li><a style="width:250px;" class="dropdown-trigger" data-target="demosList1">&nbsp;&nbsp;&nbsp;Demos&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a style="width:250px;" class="dropdown-trigger" data-target="exosList1">&nbsp;&nbsp;&nbsp;Exos&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a style="width:250px;" class="dropdown-trigger" data-target="remList1">&nbsp;&nbsp;&nbsp;Remédiations&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav"></ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>


<!-- Dropdown Structure -->
<ul id="demosList1" class="dropdown-content">
  <li><a routerLink="demos/binding">Demo 1 : le binding</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/twowaybinding">Demo 2 : le two ways binding</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/four0four">Demo 3 : el famosso 404</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/event">Demo 4 : Les events bindings</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/propertymodel">Demo 5 : Le Model Property</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/pipes">Demo 6 : Le Pipes</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/cpipes">Demo 7 : Les Customs Pipes</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/strdirectives">Demo 8 : Les Directives Structurelles</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/attrdirectives/native">Demo 9 : Les Directives D'attributs</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/attrdirectives/custom">Demo 10 : Les Directives D'attributs custom</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/inputoutput">Demo 11 : Input Output (parent - child)</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/diServices">Demo 12 : DI - Les Services</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/refreshpromise">Demo 13 : Rappel Promesses</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/asyncawait">Demo 14 : Rappel Async Await</a></li>
  <li class="divider"></li>
  <li><a routerLink="demos/httpclient">Demo 15 : HttpClient</a></li>
  

</ul>



<!-- Dropdown Structure -->
<ul id="exosList1" class="dropdown-content">
  <li><a routerLink="exos/calculette">Exos 1 : La calculette</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/customspipes">Exos 2 : Les Customs Pipes</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/customcart">Exos 3 : Le panier de courses V1.0</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/customsdirectives">Exos 4 : Les directives customs</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/inputoutput">Exos 5 : Les Input Output</a></li>
  <li class="divider"></li>
  <li><a routerLink="exos/promise">Exos 6 : Micro exos promise</a></li>

</ul>



<!-- Dropdown Structure -->
<ul id="remList1" class="dropdown-content">
  <li><a routerLink="rem/login">Login simple fake service</a></li>
  <li class="divider"></li>
  <li><a routerLink="rem/fetching">Fetching api for promise explain</a></li>


</ul>