<h4>My Store (Global - demos 1 - 19) -> Produits</h4>

<div class="row">


    <div class="col m3" *ngFor="let product of listProduct">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ product.name }}</span>
                <p>Prix : {{ product.priceU }}</p>
                <button (click)="navigateToDetails(product.id)" class="waves-effect waves-light btn">Voir les détails</button>
            </div>
        </div>
    </div>


    
</div>
